@page
@model razor_pages_greet.Pages.userGuideModel
@{
    ViewData["Title"] = "User Guide";
}

<article>
    <h3>How the GreetApp works</h3>
    <p>
        <ul>
            <li>In the home page we have an input text-box in which you can use to enter the name of the person you want to greet.</li>
            <li>Then you have radio buttons you can chose from the language you want to greet in.</li> 
            <li>When you have entered a name and chosen a language you can proceed to press the greet button and your greeting will apear on the the screen and  the name will be saved on the Database.</li>
            <li>In the home page there is also a counter it increment every time you greet a new name and decrements when a name is removed.</li>
            <li>To see the name you have greeted in your Database you can simple go to the Greeted Friends page found in the navigation bar.</li>
            <li>In the table we have a Remove column with a remove button for each name you can press remove to remove a name from the list.</li>
            <li>On the greeted friends page we have a clear button you can use to delete all the people who have greeted.</li>
        </ul>
    </p>
</article>
